<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.ekoisa.phonegap.plugin.cordova_background_job"
        version="0.1.0">

    <name>Background Job Plugin</name>

    <description>
        A background service to do some job that used by Cordova / Phonegap base application
    </description>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

	<!-- Load in the core background service -->
	<dependency id="com.red_folder.phonegap.plugin.backgroundservice" url="https://github.com/Red-Folder/bgs-core.git" commit="f37a2ae0fa9cfaecea391115809baf8cb098c23a" />

    <!-- android -->
    <platform name="android">

		<asset src="www/JobTodo.html" target="JobTodo.html" />

		<js-module src="www/JobTodo.js" name="bgServiceTodo">
			<clobbers target="cordova.plugins.bgServiceTodo" />
		</js-module>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
  
            <service android:name="com.ekoisa.phonegap.plugin.cordova_background_job.JobTodo">
                <intent-filter>         
                    <action android:name="com.ekoisa.phonegap.plugin.cordova_background_job.JobTodo"/> 
                </intent-filter>     
            </service>
            
        </config-file>
        
        <source-file src="src/android/JobTodo.java" target-dir="src/com/ekoisa/phonegap/plugin/cordova_background_job" />
    </platform>
	
</plugin>